:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-accent: #EA33A6;
  --color-accent-light: #F465BF;
}

* {
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: var(--color-accent-light);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background: url("@/assets/seats.png") no-repeat center bottom / cover;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

body::before,
body::after {
  content: "";
  position: absolute;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: #EA33A6;
  filter: blur(15vh);
}

body.LIGHT {
  background-color: #bbb;
}

body.DARK {
  background-color: #1e1e20;
}

#app {
  width: 100%;
  backdrop-filter: blur(2px);
  
}

.container {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  max-width: 900px;
}

.container.full-size {
  max-width: 100%;
}

header,
main,
footer {
  flex: 0 1 auto;
}

main {
  flex: 0 1 60%;
  border: 3px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.4);
}

.page {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  border: none;
}

.card {
  padding: 2em;
}

.fade-enter-active, .fade-move {
  transition: all .8s cubic-bezier(.17,.67,.4,1);
}
.fade-leave-active {
  
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

h1 {
  color: #fff;
}
p {
  color: #ccc;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #F465BF;
  }
  button {
    background-color: #f9f9f9;
  }
}
